{% extends 'header-footer.html' %}
{% load static %}
{% block title %}bdtechnicalschools/home{% endblock title %}

{% block content %}
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" role="main" class="cart-page">
            <div class="container">
                <div class="mb-4">
                    <h1 class="text-center">Cart</h1>
                    {% if messages %}
                    <ul>
                      {% for message in messages %}
                      <li class="{% if message.tags %}alert {{ message.tags }}{% else %}text-info{% endif %}">
                        {{ message }}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="mb-10 cart-table">
                    <form class="mb-4" action="#" method="post">
                        {% csrf_token %}
                        <table class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-color">Color</th>
                                    <th class="product-size">Size</th>
                                    <th class="product-quantity w-lg-15">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr class="">
                                    <td class="text-center">
                                        <form method="post" id="cartForm_{{ item.id }}">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-link text-gray-32 font-size-26" onclick="updateCart('{{ item.id }}', 'delete')">×</button>
                                            <!-- Rest of the form -->
                                        </form>                                        
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        <a href="#"><img class="img-fluid max-width-100 p-1 border border-color-1" src="{{ item.item.image.url }}" alt="{{ item.item.title }}"></a>
                                    </td>
                                
                                    <td data-title="Product">
                                        <a href="#" class="text-gray-90">{{ item.item.title }}</a>
                                    </td>
                                
                                    <td data-title="Price">
                                        <span class="">{{ item.item.price }}</span>
                                    </td>
                                    <td data-title="Color">
                                        <span class="">{{ item.color }}</span>
                                    </td>
                                    <td data-title="Size">
                                        <span class="">{{ item.size }}</span>
                                    </td>
                                    <td data-title="Quantity">
                                        <span class="sr-only">Quantity</span>
                                        <!-- Quantity -->
                                        <div class="border rounded-pill py-1 width-122 w-xl-80 px-3 border-color-1">
                                            <div class="js-quantity row align-items-center">
                                                <div class="col">
                                                    <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" value="{{ item.quantity }}">
                                                </div>
                                                <div class="col-auto pr-1">
                                                    <form id="cartForm" method="post" action="">
                                                        {% csrf_token %}
                                                        <button type="button" class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" onclick="updateCart('{{ item.id }}', 'remove')">
                                                            <small class="fas fa-minus btn-icon__inner"></small>
                                                        </button>
                                                        <button type="button" class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" onclick="updateCart('{{ item.id }}', 'add')">
                                                            <small class="fas fa-plus btn-icon__inner"></small>
                                                        </button>
                                                    </form>
                                                </div>                                              
                                            </div>
                                        </div>
                                        <!-- End Quantity -->
                                    </td>
                                
                                    <td data-title="Total">
                                        <span class="">{{ item.get_final_price}}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                                <tr>
                                    <td colspan="6" class="border-top space-top-2 justify-content-center">
                                        <div class="pt-md-3">
                                            <div class="d-block d-md-flex flex-center-between">
                                                <div class="mb-3 mb-md-0 w-xl-40">
                                                    <!-- Apply coupon Form -->
                                                    <form class="js-focus-state" action="{% url 'get_coupon' %}" method="post">
                                                        {% csrf_token %}
                                                        <label class="sr-only" for="couponCodeInput">Coupon code</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="code" id="couponCodeInput" placeholder="Coupon code" aria-label="Coupon code" aria-describedby="applyCouponButton" required>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-block btn-dark px-4" type="submit" id="applyCouponButton"><i class="fas fa-tags d-md-none"></i><span class="d-none d-md-inline">Apply coupon</span></button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    
                                                    <!-- End Apply coupon Form -->
                                                </div>
                                                <div class="d-md-flex">
                                                    <a href="{% url 'checkout' pk=product_id %}" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block">Proceed to checkout</a>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="mb-8 cart-total">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 offset-lg-6 offset-xl-7 col-md-8 offset-md-4">
                            <div class="border-bottom border-color-1 mb-3">
                                <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Cart totals</h3>
                            </div>
                            <table class="table mb-3 mb-md-0">
                                <tbody>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td data-title="Total"><strong><span class="amount">{{ total_price }}</span></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-md-none">Proceed to checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
        {% endblock content %}
