{% extends 'header-footer.html' %}
{% load static %}
{% block title %}bdtechnicalschools/home{% endblock title %}

{% block content %}

<!-- instructor-details-area -->
<section class="instructor__details-area section-pt-120 section-pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <div class="instructor__details-wrap">
                    <div class="instructor__details-info">
                        <div class="instructor__details-content">
                            <h2 class="title">{{request.user}}</h2>
                            <span class="designation">User</span>
                            <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur Vesity bulum a nec odio aea the dumm ipsumm ipsum that dolocons sus suada and farit consectetur elit.</p>
                        </div>
                    </div>
                    <div class="instructor__details-biography">
                        <h4 class="title">Biography​</h4>
                        <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.dolor sit amet, consectetur adipiscing elited do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utte labore et dolore magna aliquauis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>


<div class="mb-8">
    <div class="position-relative mx-md-6">
        <ul class="nav nav-classic nav-tab nav-tab-lg justify-content-xl-center flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble border-0 pb-1 pb-xl-0 mb-n1 mb-xl-0" id="pills-tab-8" role="tablist">
            <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                <a class="nav-link" id="Jpills-two-example1-tab" data-toggle="pill" href="#Jpills-two-example1" role="tab" aria-controls="Jpills-two-example1" aria-selected="true">Description</a>
            </li>
            <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
                <a class="nav-link" id="Jpills-three-example1-tab" data-toggle="pill" href="#Jpills-three-example1" role="tab" aria-controls="Jpills-three-example1" aria-selected="false">Oder Item</a>
            </li>
        </ul>
    </div>
    <!-- Tab Content -->
    <div class="borders-radius-17 border p-4 mt-4 mt-md-0 px-lg-10 px-xl-4 px-wd-10 py-lg-9 py-xl-5 py-wd-9">
        <div class="tab-content" id="Jpills-tabContent">
            <div class="tab-pane fade active show" id="Jpills-two-example1" role="tabpanel" aria-labelledby="Jpills-two-example1-tab">

            </div>
            <div class="tab-pane fade" id="Jpills-three-example1" role="tabpanel" aria-labelledby="Jpills-three-example1-tab">
                <main id="content" role="main" class="cart-page">        
                    <div class="container">
                        <div class="my-6">
                            <h1 class="text-center">My wishlist on Electro</h1>
                        </div>
                        <div class="mb-16 wishlist-table">
                            <form class="mb-4" action="#" method="post">
                                <div class="table-responsive">
                                    <table class="table" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">&nbsp;</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">Product</th>
                                                <th class="product-price">Unit Price</th>
                                                <th class="product-Stock w-lg-15">Stock Status</th>
                                                <th class="product-subtotal min-width-200-md-lg">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <a href="#" class="text-gray-32 font-size-26">×</a>
                                                </td>
                                                <td class="d-none d-md-table-cell">
                                                    <a href="#"><img class="img-fluid max-width-100 p-1 border border-color-1" src="../../assets/img/300X300/img6.jpg" alt="Image Description"></a>
                                                </td>
        
                                                <td data-title="Product">
                                                    <a href="#" class="text-gray-90">Ultra Wireless S50 Headphones S50 with Bluetooth</a>
                                                </td>
        
                                                <td data-title="Unit Price">
                                                    <span class="">$1,100.00</span>
                                                </td>
        
                                                <td data-title="Stock Status">
                                                    <!-- Stock Status -->
                                                    <span>In stock</span>
                                                    <!-- End Stock Status -->
                                                </td>
        
                                                <td>
                                                    <button type="button" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">Add to Cart</button>
                                                </td>
                                            </tr>
                                            <tr class="">
                                                <td class="text-center">
                                                    <a href="#" class="text-gray-32 font-size-26">×</a>
                                                </td>
                                                <td class="d-none d-md-table-cell">
                                                    <a href="#"><img class="img-fluid max-width-100 p-1 border border-color-1" src="../../assets/img/300X300/img7.png" alt="Image Description"></a>
                                                </td>
        
                                                <td data-title="Product">
                                                    <a href="#" class="text-gray-90">Widescreen NX Mini F1 SMART NX</a>
                                                </td>
        
                                                <td data-title="Unit Price">
                                                    <span class="">$685.00</span>
                                                </td>
        
                                                <td data-title="Stock Status">
                                                    <!-- Stock Status -->
                                                    <span>In stock</span>
                                                    <!-- End Stock Status -->
                                                </td>
        
                                                <td>
                                                    <button type="button" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">Add to Cart</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>

    </div>
    <!-- End Tab Content -->
</div>
</div>


{% endblock content %}